[2015-01-21 19:02] kylef opened #1 "Implement ability to register a mock"

[2015-01-22 08:53] kylef opened #2 "Open-source"
- [x] Open-source repository
- [x] Enable travis
- [x] Push podspec

[2015-03-01 02:06] #1 closed, assigned to nobody

[2015-03-01 02:23] kylef opened #3 "Add the protocol to NSURLSessionConfigurations"

[2015-03-01 02:23] kylef opened #4 "Determine integration with Quick"

[2015-03-01 02:23] kylef opened #5 "API Blueprint support"

[2015-03-01 14:51] #3 closed, assigned to nobody

[2015-03-01 15:25] #4 closed, assigned to nobody

[2015-03-01 18:12] #2 closed

[2015-03-01 18:12] #5 closed

[2015-03-02 09:10] dasdom opened #11 "Add instructions how to install using Carthage"
Thank you for this great project. I was thinking about doing this myself.

I don't want to use CocoaPods. Could you please add instructions how to install it manually of using Carthage.

I tried to build it using Carthage but it didn't work. The compiler doesn't find 'stub'.

[2015-03-02 21:21] kylef commented on #11
Hi @dasdom, this underlying build issue should be resolved by 03aa252d7cc44dc8e683296964c1ad5394eb3ee9. Could you try again and see that solves your problem.

Personally I've never used Carthage and have no idea how you'd go about installing it though that. However, the premise of Carthage is that it can use a framework's Xcode project so in theory there shouldn't be any framework specific instruc

[2015-03-02 21:47] dasdom commented on #11
Still no luck. Unfortunately I don't have much experience with Carthage myself. So probably it's an error on my side.
Could you add instructions how to install it manually? I'll experiment and make a pull request when I found out. Thanks.

[2015-03-02 23:14] kylef commented on #11
This really doesn't warrant Mockingjay specific installation instructions. Manual installation would be the same as any other framework.

---

#### Add the project as a submodule

[code]

#### Add the desired subproject:

![add-project](https://cloud.githubusercontent.com/assets/44164/6452889/ada1ac4a-c130-11e4-84a7-2e39fd813a1c.gif)

#### Link with the framework and add it as a dependency:

![lin

[2015-03-08 17:10] kylef opened #14 "Offer JSON Schema validation"
Making use of [JSONSchema](https://github.com/kylef/JSONSchema.swift) to provider a matcher.

[2015-04-02 14:21] rogernolan commented on #11
The instructions for adding Carthage support are very simple (or should be):

add ``` github "kylef/Mockingjay"  ``` to your  Cartfile and run
[code]

then follow the Carthage instructions for adding the built framework to your project as a dependency.

Sadly this doesn't work. For some reason Carthage downloads and builds Mockingly but doesn't copy the built library to it's build folder.

[2015-04-02 17:12] #11 closed

[2015-04-09 13:07] skorebrits opened #16 "URITemplate Broke"
Hi URITemplate is not yet compatible with swift 1.2. Can you link to the new version in pod spec when it comes out?

[2015-04-09 14:56] kylef commented on #16
Certainly can. I don't have time to sort this out now, but I'll try find time later tonight or over the weekend.

If you'd like to help move this on, a pull request adding Swift 1.2 support would be greatly appreciated.

[2015-04-09 15:09] skorebrits commented on #16
Thanks I made the fix for now in the pod. I just used the Xcode 6.3 error completion and everything run fine again. I'll have a look tomorrow to make a pull request and make the changes.

[2015-04-10 03:44] #16 closed

[2015-07-01 15:42] bruceflowers commented on #14
:+1:  I would like to see this enhancement as well

[2015-09-22 00:03] nwest opened #22 "NSURLSessionConfiguration swizzling with Alamofire"
This is a strange one. Mockingjay's `initialize()` on `XCTest` is working as expected but the one on `NSURLSessionConfiguration` never actually fires.

The swizzle hooks properly if you manually call `NSURLSessionConfiguration.initialize()`, otherwise `MockingjayProtocol` never gets pushed into `protocolClasses` in the configuration.

Xcode 7.0 (7A220)
Alamofire 2.0.0

[Here's the relevant code](h

[2015-09-22 10:24] simonrice opened #23 "Tag 1.0.0 Release"
I'm sure you'll find this issue a doddle to fix!

I'm having trouble using v1.0.0 via CocoaPods because there's no 1.0.0 tag on this repository.

Just in case you need this, this is what `pod install` says:

[code]

[2015-09-22 14:26] adamwaite commented on #23
Yeah I'm getting this too. Can solve with `git: 'https://github.com/kylef/Mockingjay/'` for now.

[2015-09-22 17:58] kylef commented on #23
Sorry about that, this has been fixed now, please try again.

[2015-09-22 17:58] #23 closed

[2015-09-22 18:09] nwest commented on #22
This turned out to be a project issue from a Xcode 6 generated project.

[2015-09-22 18:10] kylef commented on #22
Glad you managed to figure it out @nwest, was digging into this.

[2015-09-22 18:17] adamwaite commented on #23
Confirmed working, thanks.

[2015-09-22 18:34] simonrice commented on #23
Cheers @kylef 😊 I can also confirm it's working!

[2015-10-06 15:46] adamwaite opened #25 "jsonData in Pod release"
Hey Kyle,

Great work. Just wanted to point out that the jsonData builder isn't in the CocoaPod release, in case you didn't know.

Thanks

[2015-10-06 16:23] adamwaite commented on #22
I've just run into this too. Calling `NSURLSessionConfiguration.initialize()` fixes it. Is there a way I can fix it without having to do that? I don't actually understand the what the cause is? Thanks

[2015-10-06 16:54] nwest commented on #22
I spent a few days trying to figure out what was causing this and couldn't pin it down. Generating a new pbxproj and migrating the files over didn't help.

I tried making a test project to reproduce this issue, and I couldn't.

Another thought: would ATS affect NSURLProtocol in some weird way?

[2015-10-06 18:49] kylef commented on #22
I've never had this not work out of the box in all my test projects. Do any of you have some test dependencies that might affecting Mockingjay? Perhaps ones that perform swizzling.

ATS should not affect Mockingjay.

[2015-10-06 19:33] nwest commented on #22
If two extensions implement the same method, how does Swift distinguish which is called? I don't think any of my other dependencies are doing this, but I also had the same thought. Implementing `NSURLSessionConfiguration.initialize()` in an extension on the main target does get called when Mockingjay's implementation does not.

Here's my Podfile: https://gist.github.com/nwest/dc8f78d5d5be8bfc8dfe

[2015-10-07 12:29] ariok opened #26 "Does it work with a Xcode 7 UI test target?"
I'm trying to make Mockingjay working within a UI Test target but I cannot make it run properly. It seems that stubs are never used when the code runs from a UI Test target.

[2015-10-12 03:43] istx25 commented on #25
Any update on this?

[2015-10-12 16:29] kylef commented on #25
Just released 1.1.0

[2015-10-12 16:29] #25 closed

[2015-10-12 16:51] kylef commented on #22
I have a feeling that `fabric` might be causing this. The issue could be a loading order between fabric and Mockingjay. If the app delegate is setting up fabric then the fabric's framework will be loaded before Mockingjay is, and thus if they are also implementing `initialize` this may fail.

@nwest Would you be able to confirm this? (You should be able to comment out the usage of Fabric to confir

[2015-10-12 17:02] nwest commented on #22
Removing `Fabric.with([Crashlytics()])`, the Fabric keys run script, and `NSURLSessionConfiguration.initialize()` in the spec caused the tests to pass.

[2015-10-12 17:26] kylef commented on #22
@nwest Could you test the kylef/swizzle-nrlsessionconfig-xctest branch and see if it solves your problem? Then I can make a release with that included.

[2015-10-12 17:48] nwest commented on #22
[code]

Yikes. Looking into this. https://github.com/CocoaPods/CocoaPods/issues/2494 ha!

[2015-10-12 17:48] istx25 commented on #25
@kylef We have `jsonData` but now we don't have `stub`. Not sure why.

[2015-10-12 17:49] istx25 commented on #25
or matcher

[2015-10-12 17:50] istx25 opened #27 "Sample code is also out of date because Swift 2."
Sample code is also out of date because Swift 2.

[2015-10-12 17:51] istx25 opened #28 "Xcode can't find stub or matcher now"
We have jsonData now but now Xcode is complaining that `stub` and `matcher` are unavailable. Not sure why.

[code]

Ideas?

<img width="296" alt="screen shot 2015-10-12 at 10 51 24 am" src="https://cloud.githubusercontent.com/assets/6799989/10434578/3c33a118-70cf-11e5-8d20-4cb9dd99d681.png">

[2015-10-12 17:53] kylef commented on #22
@nwest I think you missed the `kylef` prefix on the branch name.

[2015-10-12 17:58] nwest commented on #22
That was it, thanks.

The patch on `kylef/swizzle-nrlsessionconfig-xctest` fixes the conflict with Fabric/Crashlytics.

[2015-10-12 18:02] kylef commented on #28
@istx25 The `stub` method is on XCTest/XCTestCase, is there any particular reason you're not doing these from your tests?

[2015-10-12 18:03] kylef commented on #27
Can you share any particular example that doesn't work?

They should all work in Swift 2.0.

[2015-10-12 18:04] kylef commented on #28
The missing `matcher` is because you haven't provided a matcher to the stub method. See https://github.com/kylef/Mockingjay#usage

[2015-10-12 22:18] istx25 commented on #27
For some reason `self.dynamicType` isn't being recognised in Xcode 7.0.1 (7A1001).

[code]

[2015-10-12 22:20] istx25 commented on #28
Does this library **only** support test cases? I am trying to stub network requests in the main target to provide a _fake_ response to network requests/prototype an application.

[2015-10-12 22:20] istx25 commented on #27
May be related to #28. :grimacing:

[2015-10-12 22:25] kylef commented on #28
@istx25 That's possible, if you're using CocoaPods. You will want to depend on `Mockingjay/Core` to prevent XCTest being included.

The reason XCTest has it's own stub method, is because those `stub`s are removed at the end of the test case. You can instead add a stub yourself:

[code]

You can make a convenience global stub function as follows:

[code]

I'll add a global `stub` method in the next

[2015-10-12 22:27] kylef commented on #27
That example is expecting from inside a function (`setUp`) where self is the instance of the function. You are using self inside a class method thus it isn't available.

I see you've already used the name bundle in your other example (#28) and figured this out.

[2015-10-12 22:27] #27 closed

[2015-10-12 22:56] istx25 commented on #28
Thanks!

[2015-10-12 22:56] istx25 commented on #28
I'll check this out. :)

[2015-10-14 14:16] TomasLinhart opened #29 "Carthage - Mockingjay for iOS"
I use Carthage and it uses shared schemes to build dependencies but there is only a target for Mac OS X, could iOS be added so it works with Carthage?

[2015-10-14 15:06] kylef commented on #29
@TomasLinhart The target is not OS X, but a universal target supporting both iOS and OS X.

What error message are you seeing?

[2015-10-14 18:00] TomasLinhart commented on #29
@kylef I don't see any error but Carthage produces only framework for Mac OS X and when I clone the repository and check the project there are only two targets. Mockingjay that has base SDK for OS X and MockingjayTests that doesn't produce any product, of course.

So there isn't any target that would have iOS as the base SDK.

You can check https://github.com/Quick/Nimble to see how others do it.

[2015-10-14 18:02] kylef commented on #29
The Mockingjay target is capable of building iOS.

![screen shot 2015-10-14 at 11 01 50](https://cloud.githubusercontent.com/assets/44164/10492868/04106f88-7263-11e5-8053-1c3321ffeb4a.png)

Which version of Carthage are you running?

[2015-10-14 18:04] TomasLinhart commented on #29
Oh right, I see. I have Carthage 0.8.0.

[2015-10-14 18:05] kylef commented on #29
Carthage 0.8.0 is unsupported. Please upgrade to Carthage 0.9 which should solve this problem.

Please let me know if you have any other issues.

[2015-10-14 18:05] #29 closed

[2015-10-14 18:55] TomasLinhart commented on #29
I have upgraded to Carhage 0.9.3 and it doesn't work. Now it fails while it is building.

[code]

Does it work for you with Carthage?

[2015-10-16 11:12] taiheng commented on #29
There are two issues preventing carthage from building that I've found:

Undefined symbols for XCTest framework as described by @TomasLinhart. Further up in the error log this is what is the root cause of this message:
[code]
    For some reason despite Xcode showing that Bitcode Enabled is set to No, after toggling this setting it will explicitly set ENABLE_BITCODE = NO; in project.pbxproj that f

[2015-10-22 00:05] paulyoung opened #32 "request.HTTP is always nil in custom matcher"
I'm setting the `HTTPBody` property of an `NSMutableURLRequest` and trying to do some comparison on it inside of a custom `matcher`.

However, the property's value is always `nil` by the time the request reaches the `matcher` despite it being set prior to that.

[2015-10-22 00:20] kylef commented on #32
Hi @paulyoung, just to confirm. you're setting the property and then making a request with NSURLConnection/NSURLSession?

Would you be able to check if passing your request directly to MockingjayProtocol's `canInitWithRequest` method results in the HTTPBody still being there.

[code]

[2015-10-22 00:31] paulyoung commented on #32
@kylef I can confirm that inside of `canInitWithRequest(request)` the `HTTPBody` is `nil`.

However, I just made this change and now everything works as expected: https://github.com/the-grid/Disc/commit/02b31d935192307749767c8b095aa11f0270e39a

In any case, this issue can be closed. Thanks for looking into it!

[2015-10-23 20:03] paulyoung commented on #32
So it appears that this issue wasn't actually resolved. I think what was happening was the actual request was being made, and now that request is no longer valid so a test started failing.

Where `session` is `NSURLSession.sharedSession()`, here's some info from right before the `request` is passed as `session.dataTaskWithRequest(request)`:

[code]

Here's the same thing inside my custom matcher:

[2015-10-23 20:10] paulyoung commented on #32
Here are the relevant test case:

https://github.com/the-grid/Disc/blob/dd74d66dad519fa6f36ca62e689c52e592ead607/DiscTests/Networking/Authorization/GetAccessTokenSpec.swift#L40

and matcher:

https://github.com/the-grid/Disc/blob/dd74d66dad519fa6f36ca62e689c52e592ead607/DiscTests/Helpers/MockingjayMatchers.swift#L29-L33

[2015-10-24 00:35] kylef commented on #32
Thats for the additional information.

Had a look into this and I can confirm this is how it's behaving, after doing some digging it does seem like either an bug in NSURLSession or how NSURLSession is designed. Mockingjay registers as an NSURLProtocol and the first method that NSURLSession will call on the protocol is `canInitWithRequest:` to try and find the protocol that can handle this request.

[2015-10-24 00:38] kylef commented on #32
Additionally, found a related [rdar://15993891](http://openradar.appspot.com/15993891) which includes a comment stating that this is not how the documentation says it should work:

[2015-10-24 00:42] kylef commented on #32
Interesting workaround: https://github.com/AliSoftware/OHHTTPStubs/wiki/Testing-for-the-request-body-in-your-stubs

[2015-10-26 20:28] paulyoung commented on #32
Thanks again for looking into this! I employed the "transparent" workaround.

Feel free to close this issue or leave open as you see fit.

[2015-10-27 18:01] sjmadsen commented on #26
UI testing runs apps in a different process than the tests, so you won't be able to stub out network calls.

[2015-10-28 15:50] siemensikkema commented on #26
I'm using a workaround. In my UI test class:
[code]
With the following enum made available to both the UI test target and the main target:
[code]
And in the main target:
[code]
which I call when my app finishes launching. (The default argument is for dependency injection while testing the stubbing function). Any JSON fixture files will need to be added to the main target instead of (or in addition

[2015-10-30 16:57] diogoguimaraes opened #33 "Minimum deployment target 9.1 error Xcode 7.1"
I've just upgraded my Xcode to 7.1 and I'm no longer being able to build Mockingjay due to the following error: `Module file's minimum deployment target is ios9.1 v9.1:`
Do you have any idea how to fix this?
Thanks.

[2015-10-30 16:59] kylef commented on #33
Can you try deleting derived data and cleaning. I think this is an Xcode cache problem.

[2015-10-30 17:20] diogoguimaraes commented on #33
Done as you said and it didn't fix the error.

[2015-10-30 17:26] kylef commented on #33
How did you install Mockingjay? Can you share a larger portion of the build log.

[2015-10-30 18:04] diogoguimaraes commented on #33
I installed using Carthage:
Cartfile
`github "kylef/Mockingjay" ~> 1.1.0`
Using the following command to checkout the project:
`carthage update --platform iOS --no-build`

Then I drag and drop the Mockingjay project from Carthage/Checkouts` to my project and set the dependency on Xcode. After the update to Xcode 7.1 it started to give that error on build.

I've also tried in another environment an

[2015-10-30 19:51] diogoguimaraes commented on #33
Also, it is failing in when building in travis with the same error: `module file's minimum deployment target is ios9.1 v9.1:`

[2015-10-30 20:13] kylef commented on #33
I can build and run Mockingjay fine on Xcode 7.1, and so can [Travis CI](https://travis-ci.org/kylef/Mockingjay/builds/88422392). Are you using Mockingjay from master? if not, please try that.

[2015-10-31 21:57] diogoguimaraes commented on #33
I checked out mockingjay from master and it fixed the issue. When are you planning to have a new release of Mockingjay?
Thank you.

[2015-11-13 16:42] diogoguimaraes commented on #33
@kylef any news on the ETA to the next release?

Thanks.

[2015-11-19 16:40] #32 closed

[2015-11-20 08:37] paulyoung commented on #33
I'm seeing this also, I think the only thing I did differently was start using Xcode 7.1

[2015-11-20 08:38] paulyoung commented on #33
It does sound suspiciously like this radar I filed: https://github.com/paulyoung/radars/tree/master/22816454

[2015-11-20 08:45] paulyoung commented on #33
Just wanted to confirm that using 40a2f0f4efb483b398dfe46e5d8a3cf6c1510ec3 (`master` at the time of writing) works for me. :+1:

[2015-11-21 18:06] #28 closed

[2015-11-21 18:17] #22 closed

[2015-11-21 18:17] #33 closed

[2015-11-28 02:34] Tokuriku opened #35 "Getting Library not loaded"
I'm getting the following error in the console but am at a miss to fix it.
Can someone help?

[code]

[2015-12-09 00:53] kylef commented on #35
This would seem that XCTest is not available to your target. How did you integrate Mockingjay into your project?

[2015-12-21 09:14] alessandroorru opened #36 "Using Mockingjay in app target (no XCTest)"
I want to use Mockingjay in my app to stub real APIs while they are still in development, so I tried what @kylef suggested in #28, but it is not working because you also need to swizzle the NSURLSessionConfiguration (as the implementation in Mockingjay/XCTest does).

The final replacement `stub` method should be:

[code]

Since using Mockingjay without XCTest could be a useful scenario, maybe it i

[2016-01-07 10:55] ogezue opened #37 "Add example project"
Is it possible to add an example project to see how to setup a complete project? At the moment it is not very clear how to use Mockingjay which will prevent many developers from using it.

[2016-01-07 12:58] ogezue commented on #35
Same problem here. My podfile looks like this:

platform :ios, '9.0'
inhibit_all_warnings!
use_frameworks!

pod 'Alamofire', '~> 3.1.4'
pod 'AlamofireObjectMapper', '~> 2.1.0'
pod 'RealmSwift', '~> 0.97.0'
pod 'KeychainAccess', '~> 2.3.3'
pod 'Mattress', '~> 1.0.2'
pod 'ReachabilitySwift', '~> 2.3.3'
pod 'SwiftyBeaver', '~> 0.3'
pod 'Mockingjay', '~> 1.1.1'

link_with 'MyApp', 'MyAppTests'

[2016-01-07 13:00] ogezue opened #38 "Add example project"
Is it possible to add an example project to see how to setup a complete project? At the moment it is not very clear how to use Mockingjay which will prevent many developers from using it.

[2016-01-07 13:00] #38 closed

[2016-01-07 13:10] kylef commented on #35
@ogezue You probably don't want to be installing Mockingjay into you application, but only your tests. So the following Podfile (if you're running CocoaPods 1.x):

[code]

[2016-01-07 13:15] ogezue commented on #35
Great! This solves it!

[2016-01-07 13:20] kylef commented on #35
Perfect!

[2016-01-07 13:20] #35 closed

[2016-01-07 15:05] ogezue opened #39 "Problem using MockingJay"
I have a model class that fetches data from my server using AlamoOnFire, ObjectMapper and Realm  for persistance. Realm introduces the List<Type> construct.

My problem is that MockingJay doesn't seem to be used. The JSON-File from the file-system can be loaded in my test and contains the data that is computed correctly if fetched from server.

Any idea what could be wrong?

[code]

[2016-01-11 16:53] nitinalabur commented on #37
+1

[2016-01-13 21:45] paulyoung commented on #39
I'm seeing a similar thing with Xcode 7.2 and Swift 2.1.1 using the same technique as a different project that is known to work with Xcode 7.0 and Swift 2.0

I'll try to provide more details.

[2016-01-14 00:25] paulyoung commented on #39
From what I can tell, differences in Xcode / Swift versions have no relevance to my issue.

I've tried stepping through in the debugger but my matcher is never called.

This is the relevant [spec](https://github.com/the-grid/Portal/blob/cce3a6cf9cf5418ad982ae7e35ad3dc9990a025c/PortalTests/Networking/Resources/User/GetUserSpec.swift) and [test failure](https://travis-ci.org/the-grid/Portal#L2180).

[2016-01-14 00:35] paulyoung commented on #37
Mockingjay is used in [Disc](https://github.com/the-grid/Disc) and [Portal](https://github.com/the-grid/Portal), both of which use [MockingjayMatchers](https://github.com/the-grid/MockingjayMatchers).

[2016-01-14 00:38] paulyoung commented on #37
More specifically, [here's where a request is stubbed out](https://github.com/the-grid/Disc/blob/4a543ecf597a3a2be52134f4eb3d2b11bf641046/DiscTests/Networking/Resources/User/GetUserSpec.swift#L40-L42) and [here's the custom matcher used](https://github.com/the-grid/MockingjayMatchers/blob/a0d2763137369494ea74e4b93291e526b4e15ac9/MockingjayMatchers/MockingjayMatchers.swift#L21-L32).

[2016-01-14 17:50] paulyoung commented on #39
@kylef any tips on how to debug this?

[2016-01-14 21:45] paulyoung commented on #39
I little bit more info – my `APIClient` accepts a `configuration` argument, so I created a configuration the same as [the one that Mockingly swizzles](https://github.com/kylef/Mockingjay/blob/2fa2d7002b4634a891ee31371162b558592e53f6/Mockingjay/NSURLSessionConfiguration.swift#L28-L29) and passed that in:

[code]

This produced the same test failure.

[2016-01-14 21:58] paulyoung commented on #39
After setting a breakpoint in `canInitRequest:` on `MockingjayProtocol` I'm able to step through and see that my matcher _is_ called.

This now looks like an error on my part. Why I wasn't able to step through or pause execution on those breakpoints before, I'm not sure.

[2016-01-14 22:15] paulyoung commented on #39
I fixed the issue on my side and the test passed, so I removed the manually passed `configuration` and can confirm that `canInitRequest:` is never called.

[2016-01-14 22:20] paulyoung commented on #39
I can only assume that `method_exchangeImplementations(m1:m2:)` is not working as expected, since that line is executed but `mockingjayDefaultSessionConfiguration()` is never called.

[2016-01-18 20:10] paulyoung opened #41 "Preventing unintended network requests for unmatched requests"
In my current use of Mockingjay I find that if my implementation is somehow incorrect and the matcher returns `false`, actual network requests are made.

This is all working as expected, but I would prefer it if no networks requests were made, and any unintended requests cause a test to fail.

Is this somehow possible already? If not, I think something like an `everythingExcept` matcher could be u

[2016-01-18 20:12] paulyoung commented on #41
I quickly realized that `everythingExcept` suggests mocking everything except some request.

I hope the intention is clear enough though.

[2016-01-19 14:34] kylef commented on #41
This is possible, you can register an `everything` matcher before others. Remember that when matching, Mockingjay will look at the newest registered matchers first.

Here's an example:

[code]

Does this make sense / solve your problem @paulyoung?

[2016-01-19 21:29] paulyoung commented on #41
@kylef yes, that works really well! Thanks.

[2016-01-19 21:29] #41 closed

[2016-01-20 01:49] paulyoung commented on #41
@kylef it turns out that I had a focused test when I tried this earlier.

After looking again it seems like I need to out the `everything` stub/matcher _after_ and not before.

Can you confirm?

[2016-01-20 10:51] kylef commented on #41
Sorry, from memory that's how I though I implemented it. I've made it work this way in https://github.com/kylef/Mockingjay/commit/59ec169c9e537d8caae89fc67e776b00fabeafbf

Can you confirm if this works for you?

[2016-01-20 10:57] kylef commented on #39
Would you be able to check `protocolClasses` in `NSURLSessionConfiguration` inside `NSURLSession` returns an array of protocols with `MockingjayProtocol` being the first result?

This should only happen after the first `stub` was registered via `XCTestCase.stub`, I'm wondering if `NSURLSession` makes a copy of the protocols before this is registered.

If this isn't the case, perhaps you could try

[2016-01-23 23:48] paulyoung commented on #39
I'm planning on looking into this when I get chance.

[2016-01-23 23:48] paulyoung commented on #41
I'll try this out when I can.

[2016-01-28 00:22] tamamachi commented on #39
I think I encountered the same problem when I updated Mockingjay form 1.1.0 to 1.1.1.
I'm using [Quick](https://github.com/Quick/Quick) and adding `NSURLSessionConfiguration.mockingjaySwizzleDefaultSessionConfiguration()`  to beforeSuite worked like a charm!
Thanks a lot.

[2016-03-21 11:02] arielelkin commented on #37
@paulyoung thanks for sharing, but this is insufficient, it's still not clear how to setup a basic test suite from scratch using Mockingjay and XCTest.

[2016-03-22 06:33] krodak commented on #39
@kylef I can confirm too that currently, method swizzling doesn't work.
I tried @paulyoung approach but to no avail.
Even if I put swizzling in AppDelegate it won't replace the default session.

[2016-03-30 08:28] LukeJang commented on #39
I simply use `MockingjayProtocol.addStub(matcher: Matcher, builder: Builder)` instead off stub(matcher: Matcher, builder: Builder) for my test. It worked.

[2016-04-05 17:03] jonasman opened #45 "anyone working on swift 2.2?"

[2016-04-06 17:56] rlester commented on #45
Looks like there is a merged pull request for 2.2 support. But with that said it also looks like the changes have not been applied to an updated cocoapods version yet.

https://github.com/kylef/Mockingjay/pull/44

[2016-04-11 11:35] RyogaK opened #46 "Add Carthage usage."

[2016-04-16 10:49] jonasman commented on #45
yeah we need cocoapods update

[2016-04-18 11:44] simonmcl commented on #36
+1

Found the README to be fairly confusing / misleading around this. While it says it has `full XCTest integration`, it doesn't say that XCTest is required. Its quite a common use case to stub backend API's while in development, or debugging. It would be useful to have both options, and it needs to be spelled out clearer in the README.

[2016-04-22 17:04] mdio commented on #26
Are you using Mockingjay for the stubbing?
I can't seem to get it to work due to it's dependency on XCTest.

[2016-04-22 18:28] siemensikkema commented on #26
@mdio Not anymore. I'm using OHHTTPStubs currently.

[2016-04-24 18:39] IvanRublev commented on #39
Swizzling works for Xcode 7.2 and Swift 2.1.1. And stubbing goes well.
Check the order in which stubbing (and as consequence swizzling)  and creation of `NSURLSession` instance occurs.

For example, if you use the Alamofire and your tested target is calling `Alamofire.Manager.sharedInstance` somewhere on the app's start, then this `sharedInstance`'s underlying `NSURLSession` object's configuration

[2016-04-30 18:32] jakunico commented on #36
+1 on using stubs for development outside of tests targets

[2016-05-02 10:06] GUL- opened #47 "Cannot stub a uri without complete url scheme"
Using mockingjay to stub api calls that can be done on any baseUrl, I am doing this:
`self.stub(http(.PUT, uri: "/session/{session_id}/rate?user_id={user_id}"), builder: http(400))`

This does not work, I need to do this:
`self.stub(http(.PUT, uri: "http://demo.usievents.com/api/v1/session/42/rate?user_id=42"), builder: http(400))`

Digging into URITemplate.swift, it seems you add a "^" in front o

[2016-05-06 04:02] abbeycode opened #49 "Matchers running slowly"
I've got a test that's a sort of integration/stress test for my networking code. When I switched from having my networking code check for cached files my tests placed in a temp directory to using Mockingjay, the tests slowed down a lot. I profiled with Instruments, and found that most of the test's time is being spent in `MockingjayProtocol.stubForRequest(NSURLRequest) -> Stub?`, and specifically

[2016-05-06 04:06] kylef commented on #49
Hi @abbeycode,

Can you please elaborate on roughly how many mocks are configured?

[2016-05-06 04:15] abbeycode commented on #49
@kylef I've got 7227… I know that's a lot…

[2016-05-06 04:25] kylef commented on #49
Okay, so looping over 7227 different matchers multiple times is probably a little too much. Since they're all paths, I wonder if we can perhaps override [`stubForRequest`](https://github.com/kylef/Mockingjay/blob/master/Mockingjay/MockingjayProtocol.swift#L66) to use a dictionary of URI paths. Then the lockup should be considerably faster.

Something along the lines of:

[code]

This would certain

[2016-05-06 04:28] abbeycode commented on #49
@kylef That's an awesome idea! I thought using a dictionary in this case might make sense also. Thanks for taking a look!

[2016-05-06 15:23] abbeycode commented on #49
@kylef Thinking about it a little more, if we override `stubForRequest`, it would have to somehow be limited to this one stress-test scenario, since I still use other matchers elsewhere, in other test cases.

[2016-05-07 05:29] kylef commented on #49
@abbeycode Okay, what about registering all of the path based matchers in one go.

[code]

This means no changes to Mockingjay itself and you can still use other matchers.

[2016-05-09 21:44] abbeycode commented on #49
@kylef thanks! I got a working solution using your last suggestion. My stress test went from taking over 2 minutes to under 10 seconds! For reference, this is the full XCTest extension:

[code]

[2016-05-09 21:52] #49 closed

[2016-05-10 05:52] andertsk opened #50 "stubbing dont working with Alamofire manager"
Using the alamofire manager in test

[https://gist.github.com/andertsk/a72f65458542149f57f22974d63b312d](url)

results into failure. But if i use `Alamofire.request` - it's Ok. But i need to test with manager.

[2016-05-10 18:09] #50 closed

[2016-05-10 18:16] kylef commented on #50
Hi @andertsk, the problem here is that you created a manager before the Mockingjay stub was added, thus the manager wasn't using Mockingjay.

I've made some changes in d6ccdc6 and released Mockingjay 1.2.1 which allows you to create a manager before registering stubs. Let me know if you're having any problems with this.

-Kyle

[2016-05-10 18:20] kylef commented on #39
I've made some changes in Mockingjay 1.2.1 which now swizzles NSURLSessionConfiguration on load of Mockingjay.

This fixes problems when you create a session and then register a stub before we've added the Mockingjay protocol to NSURLSessionConfiguration.

If anyone is still having any problems with Mockingjay after 1.2.1, please file a new issue with steps to reproduce the problem and I'll take a

[2016-05-10 18:20] #39 closed

[2016-05-10 18:21] kylef commented on #45
This has been released as 1.2.1.

[2016-05-10 18:21] #45 closed

[2016-05-10 18:21] kylef commented on #36
As of version 1.2.1, Mockingjay will swizzle NSURLSessionConfiguration on load so doing this manually is unnecessary.

As for running Mockingjay without XCTest, that is possible and XCTest is not required. If you integrate Mockingjay with CocoaPods by depending on `Mockingjay/Core`, XCTest will not be required. You can use the following APIs:

- `MockingjayProtocol.addStub(matcher, builder)`
- `Mo

[2016-05-10 18:21] #36 closed

[2016-05-11 07:01] RyogaK opened #51 "Cannot stub Alamofire request in Mockingjay 1.2.1"
Mockingjay 1.2.1 not works for Alamofire.
btw, 1.1.1 works well.

[2016-05-12 09:12] alessandroorru opened #52 "Simulate delay of responses"
Is there any builtin functionality to add a delay to the responses, in order to simulate a real server hit?

I find it really useful for both automated UI tests and during development, in case I want to check the "loading" status with a controlled response.

[2016-05-16 03:25] kylef commented on #52
There isn't any way to do this yet. My own use of Mockingjay is for unit test and haven't added these sort of features.

I think it would be pretty easy to add. We could add a delay time to the `Stub` structure itself, and then `MockingjayProtocol` can add the delay after matching the stub to creating the builder.

[2016-05-16 04:01] kylef commented on #47
This is intended, you would need to include the complete path. You've missed out `/api/v1` from the path.

So it should be:

[code]

Instead of:

[code]

[2016-05-16 04:03] kylef commented on #26
As I've mentioned in https://github.com/kylef/Mockingjay/issues/36#issuecomment-218245559, you can use Mockingjay without XCTest. Mockingjay doesn't strictly depend on XCTest.

You can depend on `Mockingjay/Core` via CocoaPods and then use the following API:

- `MockingjayProtocol.addStub(matcher, builder)`
- `MockingjayProtocol.removeStub(stub)`
- `MockingjayProtocol.removeAllStubs()`

Therefore

[2016-05-16 04:03] #26 closed

[2016-05-16 04:05] kylef commented on #37
There's a complete example in Mockingjay's own tests. Check out https://github.com/kylef/Mockingjay/blob/master/MockingjayTests/MockingjayTests.swift#L34-54

[2016-05-16 04:06] kylef commented on #51
Hi @RyogaK,

Would you be able to help me debug what's causing this problem.

Please can you check that `protocolClasses` in `NSURLSessionConfiguration` inside `NSURLSession` returns an array of protocols with `MockingjayProtocol` being the first result?

If this isn't the case, perhaps you could try explicitly exchanging these methods by calling the following before anything related to NSURLSessi

[2016-05-16 12:02] slhodson969 commented on #51
I can also confirm this is happening. I just spent about 3 hours trying to work out why the stubs in our unit tests were no longer working.

I'm a little busy to dig into it at the moment so have just downgraded to `1.1.1` for now but if I get time this evening I may try and dig a bit deeper and see whats happening in `1.2.1` to cause this.

[2016-05-27 17:04] kylef commented on #51
I've figured out the problem. Please upgrade to version 1.2.2 which has a fix.

[2016-05-27 17:04] #51 closed

[2016-06-14 17:50] #47 closed

[2016-06-26 02:16] adamdebono opened #55 "Add support for Swift 3/Xcode 8"
I've attempted to convert the project over using the Xcode 8 refactor tool, and fixed a few things manually. I am having trouble with the `MockingjayAsyncProtocolTests`. Those tests will show a number 2-second timeout messages, and then just seems to sit there and not won't complete the test. All of the other tests pass fine.

My code is on my fork, adamdebono/Mockingjay@bfc0e718119dd8366637b1e732

[2016-07-01 12:12] mrchenhao commented on #46
I want to use Carthage too

[2016-07-07 13:14] nilsen340 opened #56 "Tries to load library to wrong target"
I'm developing a framework in swift, I'm using Carthage for dependency management. When I add Mockingjay to the test target my tests work, but when I try to build an app with my framwork i get

`dyld: Library not loaded: @rpath/Mockingjay.framework/Mockingjay`

Which is strange, as Mockingjay is only added to the test target.

Reproducible example can be found at:

https://github.com/tapglue/ios_s

[2016-07-07 14:15] nilsen340 commented on #56
Further research revealed that the issue was caused by certain source files added to the 'Compile Sources' of the wrong target.

[2016-07-07 14:15] #56 closed

[2016-07-12 15:17] bluebeans opened #57 "Turn ENABLE_BITCODE = YES for watchOS result in compilation errors."
In mockingjay.xcconfig, turn ENABLE_BITCODE = YES. Turn bitcode on for all the other targets in the project too. This is required for watchOS. Please resolve this because it is a show stopper for us.

Get compilation error:

ld: '/Users/nyan/Library/Developer/Xcode/DerivedData/zipcar-bjuclsirfazpdbhbekejanyrfonv/Build/Products/Debug-iphoneos/Mockingjay/Mockingjay.framework/Mockingjay' does not con

[2016-07-12 22:05] kylef commented on #57
@bluebeans Would you like to submit a pull request enabling this flag?

[2016-07-14 06:45] papertigers commented on #37
I tried to use the following with Alamofire from the example you linked @kylef
[code]
When I call the function from my api struct it returns the actual data from the web service.
Am I doing something wrong?

[2016-07-16 05:22] papertigers commented on #37
@kylef never mind, console output was misleading due to the test target having "Host Application" set.  This seems to be xcodes preferred way now.  Sorry for the confusion.

[2016-07-26 12:24] zocario commented on #46
Me too, any update about this?

[2016-07-30 00:09] inslayn commented on #46
I use this with Carthage. I just put the line `github "kylef/Mockingjay"` into my Cartfile.private and it works.

[2016-08-01 22:15] RafaelPlantard opened #59 "How I can mock a download image"
I want to mock this download http://polishop.vteximg.com.br/arquivos/ids/404438_2 that I'm using AlamofireImage.
Can you help me?

[2016-08-12 14:19] Ricardo1980 opened #60 "Can I mock language headers?"
Can I use this lib mock "Accept-Language" with "en-US;q=1.0" value rather than the system (iphone or MAC) value?
Thanks a lot.

[2016-08-12 17:25] kylef commented on #60
I'm not too sure what you are asking, but it doesn't seem to have any relevance to this library since this library is not responsible for creating requests.

I think all you are looking to do is set the `Accept-Language` header on a request? If so, you can just set this on your request:

[code]

[2016-08-15 08:40] Ricardo1980 commented on #60
Finally I could stub NSLocale.preferredLanguages in Swift, so my tests are working.
Code here:
http://stackoverflow.com/questions/38919827/how-can-i-mock-nslocale-preferredlanguages-in-swift-to-test-requests/38951886#38951886

[2016-08-15 08:40] #60 closed

[2016-08-18 13:11] yoavst commented on #32
@kylef , can you add a property that uses that method as an extension, or at least add this issue to README? I've spent an hour thinking the problem is in my sending code :)

[2016-09-06 21:05] marcelofabri opened #61 "Compare query parameters (ignoring order)"
I think it'd be useful to have a matcher (or change `uri`) to compare query parameters ignoring their order. I was able to implement that with a custom matcher:

[code]

Note that this probably doesn't support path templates.

[2016-09-12 23:35] jmburges commented on #59
hey @RafaelPlantard the `http` builder has an `NSData` argument to it. I haven't tested this, but something like this should work

[code]

[2016-09-13 00:02] #59 closed

[2016-09-15 03:02] #46 closed

[2016-09-15 19:51] AnthonyMDev commented on #55
@kylef I know you're probably very busy, but is there any chance we can get a this done soon?

Thanks!

[2016-09-26 15:31] ssoper opened #65 "Swift 3 + Alamofire 4"
Tests were failing which was due to Alamofire’s SessionManager’s URLSessionConfiguration not having MockingjayProtocol in its list of URLProtocol classes. Turns out the swizzler was never being called. I fixed this in a [fork](https://github.com/PotomacInnovation/Mockingjay/tree/feature/swift3-alamofire4).

Not sure if you had already planned on fixing this or had something else in mind to address

[2016-09-28 11:12] fuxx commented on #65
We also would need a Swift 3 + Alamofire compliant version. Would be nice @kylef if you could merge @ssoper`s implementation or your own as Pod.

Keep up the work 👍
Thanks

[2016-09-28 16:20] #57 closed

[2016-10-03 08:07] banjun opened #68 "Cannot stub with Mockingjay 1.3.0"
https://github.com/CocoaPods/Specs/commit/09a78b7e04629faf7e753e295ea3789ab5126772
seems to omit `Mockingjay/MockingjayURLSessionConfiguration.m`.
related to #51

[2016-10-05 04:22] banjun commented on #68
possibly this can be closed by #66 and #67

[2016-10-07 21:51] kylef commented on #68
This should be fixed in the 1.3.1 release. let me know if you have any problems.

[2016-10-07 21:51] #68 closed

[2016-10-12 04:09] ehuynh opened #69 "Carthage support"
I'm just wondering if this project is open to putting official support for `Carthage`. Perviously it was possible to get `Mockingjay` (**sort of**) working with `Carthage` just by adding both `Mockingjay` and `URITemplate` to the `Cartfile`.

But moving to Swift 3 support and this no longer works.

One of the reasons is that `URITemplate` has now removed the Xcode project file for the repo which `

[2016-10-13 23:08] deepumukundan commented on #65
Method swizzling seems wonky in swift 3. This used to work in swift 2, but now in swift 3 if we use a custom urlsessionconfiguration (default, ephemeral or custom based on any of these), the intercepts are not working. A data task using URLSession.shared works, but not one using custom config (which is what the swizzle was solving for swift 2).

[2016-11-04 17:44] blackm00n commented on #32
I'm using the following [workaround](https://gist.github.com/blackm00n/6e3266fa53d6545ffbf096dd6cfa1655) (Swift 2.3)

The usage is the following:
[code]

I can make PR if the solution is good enough. @kylef

[2016-11-09 17:22] RafaelPlantard opened #70 "Isn't better use URITemplate 2.0.0 in last tag?"
In 1.3.0 release and master branch you're using URI Template 2.0.0, but when I use the last tag (1.3.1) the URITemplate dependency used is 1.4.0. Isn't better use also version 2.0.0 in last tag?

[2016-11-09 17:28] kylef commented on #70
URITemplate 2.0 requires Swift 3.0. Mockingjay 1.3.1 is for Swift 2.3, therefore URITemplate 2 isn't compatible with Mockingjay 1.x.

[2016-11-09 17:30] RafaelPlantard commented on #70
I got your point, thanks for your time... Just another question, the new releases will be build to Swift 3 with URITemplate 2.0?

[2016-11-09 17:34] kylef commented on #70
Yes, there will be a new version of Mockingjay (2.0.0) which will add Swift 3 support. If you're currently using Swift 3, you can actually use Mockingjay from master which has Swift 3 support.

In CocoaPods that can be done via:

[code]

The reason the current master hasn't been released is due to the problems some users have discovered in https://github.com/kylef/Mockingjay/issues/65 which I'd li

[2016-11-09 17:36] RafaelPlantard commented on #70
I understand, I'm using this approach.. Thanks..

[2016-11-09 17:36] #70 closed

[2016-11-09 17:38] kylef commented on #65
@ssoper Thanks for taking a look at this. I think the change you have made would still have some problems. If you was to create an Alamofire manager before you call stub, then it won't have the Mockingjay protocol enabled. People have come into this problem before when they use singletons or Managers created from the AppDelegate before the stub has been created during a test.

The change in d6ccdc

[2016-11-09 17:42] kylef commented on #70
I think this problem may have been resolved so I should be able to make a release soon.

Please let me know if you find any issues with Mockingjay in Swift 3.

[2016-11-09 17:50] kylef commented on #52
If anyone is interested in contributing support for delays I think it would be a great first time contributor task. It should be added relatively easy to implement.

- We can add a delay property to [`Stub`](https://github.com/kylef/Mockingjay/blob/2dd1ff3fb3ed30ed422ed6c9f8d095d67dbfcfd5/Mockingjay/MockingjayProtocol.swift#L13) (`let delay: TimeInterval?`)
- Expose an optional delay time interval

[2016-11-14 16:22] ssoper commented on #65
Pointing to current master appears to fix my issues, thank you @kylef!

[2016-11-14 16:22] #65 closed

[2016-11-14 16:42] garnett commented on #55
Any update on this?

[2016-11-14 16:45] #55 closed

[2016-11-14 16:49] kylef commented on #55
Release [2.0.0](https://github.com/kylef/Mockingjay/releases/tag/2.0.0) which has Swift 3 support.

[2016-11-29 17:09] #52 closed

[2016-12-02 23:50] baoskee opened #73 "URI Template not updated to Swift 3"
Hi, it looks like the Pod URITemplate dependency is making Mockingjay failing with Swift 3.

[2016-12-02 23:58] kylef commented on #73
Could you please elaborate on what problem you are having? Perhaps including some steps to reproduce?

[2016-12-03 10:25] baoskee commented on #73
Yes!
* Include pod 'Mockingjay' in your test target, and run pod install
* In your test files, import Mockingjay
* Build and URI Template will have a lot of build errors since it has not migrated to Swift 3.

And do this using Xcode8. My pod install message says I installed Mockingjay (1.3.1) and URITemplate (1.4.0).

[2016-12-03 18:54] kylef commented on #73
Mockingly 1.3.1 doesn't support Swift 3. You will need to use [Mockingjay 2.0.0](https://github.com/kylef/Mockingjay/releases/tag/2.0.0) for Swift support.

[2016-12-03 20:01] baoskee commented on #73
Got it. I had to use "pod repo update" and then "gem install cocoapods --pre" since pod install Mockingjay ~>2.0.0 gets a not found error. Thanks.

[2016-12-03 20:17] #73 closed

[2016-12-07 00:48] invalidname commented on #36
Sorry to drop in late on a closed issue, but is there anything special you need to do with your Podfile to make this work? I have my app's pod target doing `pod 'Mockingjay/Core'`, and my tests target doing `pod 'Mockingjay'`, and now running the tests crashes with `dyld: Symbol not found` on an `XCTest.stub()`.

Have only been fighting this for a couple hours, so maybe posting here is premature.

[2016-12-07 00:49] kylef commented on #36
@invalidname Could you share a bit more of your Podfile please.

[2016-12-07 00:53] invalidname commented on #36
Thanks @kylef. Hiding my company's stuff as `myproject`, it's something like:
[code]

[2016-12-07 00:57] kylef commented on #36
@invalidname I think you will want to try something more along the lines of:

[code]

[2016-12-07 01:39] invalidname commented on #36
@kylef thanks, but still crashing.

[2016-12-07 07:57] icanswiftabit opened #75 "CocoaPods update"
Hi @kylef
please push recent changes to cocoapods. It would be much help in my future tests :)

[2016-12-23 11:03] borut-t opened #76 "Stubbing UI tests"
Is stubbing supported for UI XCTests?

[2016-12-23 11:33] #76 closed

[2016-12-23 11:33] borut-t commented on #76
Already answered: https://github.com/kylef/Mockingjay/issues/26

[2016-12-23 11:51] borut-t commented on #26
How can i stub requests while using 3rd party http clients (e.g. Alamofire)?
Using the same code as for unit test doesn't work:
[code]

[2017-01-20 08:41] jpalten commented on #32
Seems not to work on my machine. It swizzles alright, but the body is nil in the request again. Perhaps it is copied to a new instance that leaves the body empty.

[2017-01-20 23:27] blackm00n commented on #32
@jpalten are you talking about #74 ?

[2017-04-19 20:42] trick14 opened #79 "dyld: lazy symbol binding failed: Symbol not found"
I have been using `Mockingjay` in `XCTest` very well. However recently I noticed that if I can use it in main target, it would be nice. So I changed `Podfile` like this:

[code]

And it worked very well with main target but I stuck in test.

I have this line in my test

`@testable import MainTarget`

I need this for not to change access level of class properties in the main target. Tests without t

[2017-05-16 20:50] gstanislav opened #80 "Outdated readme.md: using PUT instead of put"
Example from readme:

`stub(http(.PUT, "/kylef/Mockingjay"), json(body))`

Current version of Alamofire uses `.put`, not `.Put`. Example is also missing `uri` label. This produces compilation errors.

[2017-05-16 20:52] gstanislav commented on #80
I have a PR ready, but can't push my branch — Permission to kylef/Mockingjay.git denied

[2017-06-21 19:03] callo90 commented on #69
updates about this?

[2017-07-11 13:38] MedvedevMax commented on #32
Works perfectly using `httpBodyStream` with this extension (updated to Swift 3):

[code]

Usage:
[code]

[2017-07-16 15:43] pimnijman opened #81 "Find out if URL was requested"
Feature request:

I'd like to know whether my stubbed URL is requested.
I imagine this could work something like this:

[code]

Since this doesn't work, I came up with a solution using a custom matcher:

[code]

[2017-09-11 02:42] fukamachi opened #83 "Swift Package Manager support"
As the only dependency URITemplate supports it, just adding Package.swift would work fine.

[2017-09-27 17:09] cs-joao-souza opened #84 "Empty Body"
How can i stub a request with only status code? Without body.

I've been trying to do that but with no success.

I did this

stub(http(method.toMockingjay(), uri: endpointPath), http(401))

And a do need to get the statusCode but the DataResponse.response from Alamofire is always nil

[2017-09-28 08:50] kylef commented on #83
It will require additional changes as Mockingjay has mixed sources (Objective-C and Swift) in the same target which is not supported by Swift Package Manager.

[2017-09-28 08:52] kylef commented on #69
I do not intend to add this, if you're looking for similar functionality [OHHTTPStubs](https://github.com/AliSoftware/OHHTTPStubs) provides almost an identical API and supports Carthage.

[2017-09-28 08:52] #69 closed

[2017-09-28 08:53] kylef commented on #79
I think you will need `inherit! :search_paths` in your test Pod target.

[code]

[2017-09-28 08:53] #79 closed

[2017-09-28 08:54] #80 closed

[2017-10-03 09:44] Sushhi opened #86 "tvOS 10+ Support"
Hi everyone,

I'm currently implementing unit tests on my tvOS application and I'd like to mock HTTP requests from Apollo (GraphQL Client). I already use Mockingjay on my iOS app and I'd love to use it aswel for tvOS.

My question is pretty simple, is a tvOS support is coming ?

Thanks in advance for your help guys.
Btw, thanks also for your work!

Regards

[2017-10-11 13:00] ntokozotep commented on #84
Try this
[code]

[2017-10-11 14:49] cs-joao-souza commented on #84
Thanks. It worked.

[2017-10-11 14:49] #84 closed

[2017-10-12 08:08] jameswwwebster opened #87 "Swift 4 Support - Podspec update"
I see the changes for Swift 4 have been made. However, the pod spec hasn't been updated so this refactor remains unavailable on Cocoapods.

[2017-10-12 20:43] ptseng commented on #87
https://github.com/kylef/Mockingjay/pull/88

[2017-10-25 09:06] icanswiftabit opened #89 "Proposal for callback for matcher"
I was thinking what would help me in testing. Callback when stub responds to request.
I am more than happy to implement it.
What do you think @kylef ?

[2017-10-27 12:07] rwgrier commented on #87
@kylef Can we get this taken care of? I see you've made Swift 4 changes in `master` can we get a new release? @ptseng even made a PR of the podspec for you (#88).

We've got Swift 4 projects and would like to use this in our unit testing target, but can't yet.

[2017-11-17 07:28] PolyglotC opened #90 "Rejected from TestFlight due to usage of private APIs"
Perhaps they are cracking down on some of these APIs.

[2017-11-17 16:36] BrianHenryIE commented on #90
Are you separating out your Podfile into your main target and test target?
[code]

[2017-11-19 22:07] PolyglotC commented on #90
yes, here's what our Podfile looks like

[code]

[2017-11-20 03:12] PolyglotC commented on #90
Oops, we found the issue in our build script. Thanks.

[2017-11-20 03:12] #90 closed

[2017-11-20 11:34] kylef commented on #90
For future reference and for anyone who ends up here searching. `Mockingjay` as a whole should only be used as a test dependency. If you want to use Mockingjay in production, the CocoaPod is split as two subspecs so that can be achieved. You can use `Mockingjay/Core` in production and `Mockingjay/XCTest` includes all of the XCTest specific stuff which should only be in test target (in normal circu

[2017-11-21 22:36] kdawgwilk opened #91 "Support for Swift 4 multiline json string"
[code]

[2017-11-21 22:39] kdawgwilk commented on #91
Implementation would be something like this inside the `Builders.swift`:
[code]

[2017-11-22 00:26] ptseng commented on #87
@kylef Thanks for the update.

[2017-11-30 09:45] willm opened #92 "Matching GET requests with query"
Is it possible to stub requests with specific query strings?

The following works fine (note the absence of a query string in the call to stub:

[code]

However adding a query to the uri in the call to stub fails:

[code]

[2017-12-13 23:14] natan commented on #36
I also wanted to use Mockingjay in my main app target and it took some head scratching and searching to find this page. Probably worth adding this information to the README.

[2018-01-11 18:31] joaopedrok opened #93 "Carthage support"
I made a fork of your project to add support a carthage and i wanted to make a Pull Request to you but i was unable to do.

First of all i made a `git clone --recursive` because the project has a submodule that is `URITemplate`, but i couldn't even compile because the submodule doesn't have `xcodeproj`, so i can't integrate `URITemplate` with my project to even test if the support is working.

Do

[2018-01-12 12:37] #93 closed

[2018-02-22 14:04] shunmugarajrntbci opened #94 "Add stub after launch"
Is it possible to add new stub after launch, after navigating few viewcontroller. I need to add new stub at 3rd screen replacing old stub

[2018-02-22 14:40] kylef commented on #94
Yes, you can add stubs whenever you like. The one limitation is that you need to ensure that the NSURLSessionConfiguration includes MockingjayProtocol when the NSURLSession instance is created.

If you are using the default session and would like the configuration swizzled to contain mockingjay's session (default behaviour when you run Mockingjay in tests). Then you can call `mockingjaySwizzleDefa

[2018-03-07 08:40] chbeer opened #95 "Mockingjay references XCTest"
I’d like to use Mockingjay in a test version of my app, where I mock some responses for demo mode.

But Mockingjay references XCTest and can therefore not be used outside of test projects.

Can Mockingjay be split up into a main pod + subpod for the XCTest dependency?

[2018-03-07 08:41] chbeer commented on #95
Ok. I’m sorry! I should’ve looked into the podspec first 🤦‍♂️

[2018-03-07 08:41] #95 closed

[2018-04-12 21:56] afriedman94 commented on #14
Was this ever implemented?

[2018-04-20 13:35] Buju77 opened #96 "Matcher doesn't match partly URLs"
It seems current version (2.0.1) of matcher doesn't match uri path partly.

Example:

[code]

This test will fail. It seems I always need to specify everything after the host in the uri matcher. This is a bit inconvenient.

Because eg. I as mobile app developer don't want to care how the backend has structured the login endpoint in my tests or which endpoint version it is. I'm only interested in s

[2018-04-20 18:02] kylef commented on #96
That is intentional, it is designed to be the full URI of full path.

Try the following:

[code]

[2018-04-24 10:33] NeverwinterMoon opened #97 "Not working with Alamofire SessionManager singleton"
It looks to be similar to: https://github.com/kylef/Mockingjay/issues/50 which was marked as fixed.

I have a SessionManager initialized as a singleton and then used in the service under test. I first stub everything with Mockingjay and then call one of the service's methods, this in turn makes a request using Alamofire SessionManager. And the real request goes through.

Now, if I don't use the si

[2018-04-26 08:48] Buju77 commented on #96
I also noticed that it really needs to match the full URI **including** query parameters, which is very cumbersome in my case. The requests I want to simply mock have lots of query parameters.

My use case:
I want to write integration tests of my whole system. I want to test if our backend sends us a specific error code like 410 with some response body. So in those error case tests, I don't really

[2018-05-04 12:34] rwgrier opened #98 "Future of Project"
@kylef I've got a question about the future of the project. Do you think support for MockingJay and [URITemplate.swift](https://github.com/kylef/URITemplate.swift) will be continuing? There are multiple open pull requests which fix support for things like Xcode 9, Swift 4, Carthage, etc which have been ignored for months.

If you don't have plans to continue support for both projects, can you put

[2018-05-06 00:37] kylef commented on #98
I won't be able to maintain this project going forward. In the past, I have reached out to some of the contributors to Mockingjay but without much luck on interest in maintaining.

These days, @AliSoftware's [OHHTTPStubs](https://github.com/AliSoftware/OHHTTPStubs) API has become very close to Mockingjay so perhaps we can deprecate this library in favour of OHHTTPStubs. I am not sure that Mockingj

[2018-05-06 01:46] rwgrier commented on #98
Thanks @kylef for letting us know.

[2018-05-23 01:29] benniebotha opened #100 "Mockingjay stub method overwriting Cuckoo stub method"
We are using a Swift mocking library called [Cuckoo](https://github.com/Brightify/Cuckoo) that allows for easier unit tests. The recent inclusion of Mockingjay has created a problem with all of the other tests using [Cuckoo](https://github.com/Brightify/Cuckoo) as [Cuckoo](https://github.com/Brightify/Cuckoo) defines a method called stub as well but in the global scope. The XCTest extension takes

[2018-06-05 12:38] george637 opened #101 "Stubbing HTTP redirect"
Is there a way to stub a redirect response, using the 302 status code with Mockingjay? Causing a call to https://developer.apple.com/documentation/foundation/urlsessiontaskdelegate/1411626-urlsession?

[2018-06-21 07:34] borut-t commented on #57
@kylef any special reason why bitcode is disabled in the first place?

[2018-07-16 00:38] rex-remind101 commented on #98
There needs to be an alternative to OHHTTPStubs for cross platform mobile development (Swift on Android and iOS). This looks like the right alternative.

[2018-07-16 00:44] rex-remind101 commented on #98
Nvm, looks like this too has some reliance on Objective-C. Going to delete both comments and continue looking for an alternative.

[2018-09-30 09:00] acumen1005 opened #103 "swift4.2 support"

[2018-10-30 17:56] jblue200 commented on #103
Any idea when the library will upgrade to support Swift 4.2? Thanks.

[2018-10-30 17:58] SebastianView commented on #103
would be great to have Swift 4.2 support soon!

[2018-10-31 15:39] teameh commented on #57
I've got the same problem (on v2.0.1). Was this fixed or was the issue just closed?

[2019-02-22 11:31] MedAmineWinners opened #106 "Check if Mockingjay include Mockingjay-Swift.h !"
For pod files that do not use **use_frameworks!** testing with Mockingjay returns a build error!

`<Mockingjay/Mockingjay-Swift.h> file not found `

So it will be better for you to add something like this in your MockingjayURLConfiguration.m
to check if include /Mockingjay-Swift.h or not.

this will make life easier for developers who use your pod to unit test their frameworks.

[code]

[2019-03-11 15:24] MedAmineWinners commented on #70
@kylef can we fix warnings on URITemplate for swift 4 and upper

[2019-03-11 15:29] MedAmineWinners commented on #103
I think that we should stop working with this library, there is no more interaction

[2019-03-18 09:44] mihailsalari commented on #106
@kylef Please apply those changes, it works with them.

[2019-04-11 15:56] jakeholland opened #108 "Pod Swift Version Is Not Specified"
The `spec.swift_version` is not specific in the `podspec`. This causes Cocoapods to use the project default which causes Swift 5 projects to fail building.

[2019-04-12 08:12] fousa commented on #106
@kylef I have the same problem, any idea when you can manage to merge this? We love Mockingjay here, and hope we can continue to use it. 🤘

[2019-05-07 08:32] bishalg commented on #103
Last code commit was 2 years ago ! So do we have any other alternative framework ?

[2019-05-17 11:48] evermeer commented on #98
@kylef Is there any progress in taking over this project? I'm also willing to take it over. I can even take some personal time off to clean this project up (process PR's and solve issues) If you want a reference, then just look around at https://github.com/evermeer

[2019-05-22 09:08] DrKrakus opened #110 "URITemplate not updated to swift 5"
Hello,
I have two errors from URITemplate when i launch my unit test :

- 'Hashable.hashValue' is deprecated as a protocol requirement (Warning)
- 'characters' is unavailable: Please use String directly (Error)

Both in URITemplate.swift

[2019-06-07 18:29] #87 closed

[2019-06-07 18:29] #103 closed

[2019-06-07 18:29] #110 closed

[2019-06-07 18:46] kylef commented on #75
https://github.com/CocoaPods/Specs/commit/1c522e1a8bd22726f9f2791a2cf565587fcdfd17

[2019-06-07 18:46] #75 closed

[2019-06-07 18:56] kylef commented on #108
Can try [Mockingjay 3.0.0-alpha.1](https://github.com/kylef/Mockingjay/releases/tag/3.0.0-alpha.1):

[code]

[2019-06-07 18:56] #108 closed

[2019-06-07 19:00] kylef commented on #100
@benniebotha If you depend just on the core (excluding https://github.com/kylef/Mockingjay/blob/978253ce130410a677f132e87736c7a149bf5889/Mockingjay.podspec#L15). The stub method on XCTest won't exist, you can use `Mockingjay.addStub` instead (or create your own alias for it).

[code]

https://github.com/kylef/Mockingjay/blob/978253ce130410a677f132e87736c7a149bf5889/Sources/Mockingjay/XCTest.swift

[2019-06-17 16:00] chivalrousbob commented on #11
try carthage update --platform iOS "Mockingjay"  instead of "kylef/Mockingjay"

[2019-06-28 16:22] christinasund opened #114 "Could not find auto-linked framework"
I have successfully installed via Cocoapods, imported the module in my XCTest class, and added methods. When I try and run my tests I see the below error. I have tried to import the project manually with no luck, have the framework in my linked frameworks for the test target. Any ideas?

![image](https://user-images.githubusercontent.com/18584125/60356588-38da2a80-9986-11e9-8c62-c3a2511e6bd6.png)

[2019-06-28 16:31] kylef commented on #114
@christinasund are you able to share your Podfile (or atleast the important parts, you can redact target names and remove other dependencies). I'd check that Mockingjay is inside the test target itself, for example:

[code]

[2019-06-28 17:33] christinasund commented on #114
@kylef Yes, no problem. I have added Mockingjay to the test target only

`# Uncomment the next line to define a global platform for your project
# platform :ios, '9.0'

target 'ios' do
  # Comment the next line if you don't want to use dynamic frameworks
  use_frameworks!

  # Pods for ios

end

target 'macOS' do
  # Comment the next line if you don't want to use dynamic frameworks
  use_framework

[2019-06-28 17:41] kylef commented on #114
This can depend a bit on the configuration of your project, it may be that `TestHost` is an application which has a separate test target (perhaps `TestHostTests`) which is injected into it.

Perhaps we can confirm that with getting a full list of the targets, for example:

[code]

You may need to pass `-workspace <filename for xcode workspace>`.

[2019-06-28 20:50] christinasund commented on #114
I think you might be right, but I do not see this other test target in my Podfile, what do you suggest?

[code]

[2019-07-01 09:45] kylef commented on #114
I think you could see what it hooked up in the scheme, it might show you which test target is injected into a host app scheme:

On the top menu:

- Product -> Scheme -> Select Scheme
- Product -> Scheme -> Edit Scheme, then select the "test" tab on left side.

<img width="954" alt="Screenshot 2019-07-01 at 10 40 03" src="https://user-images.githubusercontent.com/44164/60426598-dfc00000-9bec-11e9-8

[2019-07-23 23:58] benniebotha commented on #100
Thanks for the advice, that should work.

[2019-07-23 23:58] #100 closed

[2019-09-10 02:00] yfujiki commented on #57
@kylef I second to @borut-t. What is the reason that bitcode is disabled?

It hinders our development experience when we want to mock data at actual runtime (not test) to show sneak peek build for our testers/designers.

I think at least it should be noted at README. that "you cannot use Mockingjay to mock data at runtime when the project has `ENABLE_BITCODE=true`)"

[2019-09-10 10:19] trinhhunganh opened #115 "Custom matcher runs twice if matcher returns true"
I am running stub request test in XCTest and my case is as following:

func testExample() {
        func matchPath(request: URLRequest) -> Bool {
            let path = request.url?.path
            return path != nil // setup a breakpoint on this line and you can see it runs twice
        }

        var responseBodyJson: [String: String] = [:]
        responseBodyJson["appId"] = "1"
        stub(

[2019-10-18 03:52] ychongsaytc commented on #32
Doesn't work anymore.

[2019-12-15 10:00] armintelker commented on #83
what is the staus here?

[2020-03-05 08:39] codedeman opened #117 "Could not build Objective-C module 'Mockingjay'"
I tried to use cocopod to import lib inside of my project but still run into problem like this Could not build Objective-C module 'Mockingjay' I used Swift 5
![Screen Shot 2020-03-05 at 3 41 47 PM](https://user-images.githubusercontent.com/20448867/75963054-6c972800-5ef7-11ea-96b0-a2ac86da9a50.png)

[2020-03-22 21:22] henleo opened #118 "Build fails if '3.0.0-alpha.1' version is not explicitly specified in the Podfile."
By default cocoapods uses the 2.0.1 version of Mockingjay which makes the build fail when using Swift 5 due to issue #110.

You have to specify `pod 'Mockingjay', '3.0.0-alpha.1'` in the Podfile to get the latest version.

Maybe this is obvious for people who are used to cocoapods, but it took me a while to figure it out. Putting that in the installation instructions in the README might save other

[2020-06-16 17:55] bw0lff commented on #83
This would be useful... The changes regarding mixed sources wouldn't be just a matter of translating MockingjayURLSessionConfiguration.m to swift? 🤔

You could even keep both and use .m for pods and .swift for SPM (not really sure of the impact of the changes on ObjC projects...)

[2020-09-25 14:27] saltzmanjoelh commented on #83
I have a copy here: https://github.com/saltzmanjoelh/Mockingjay.git

@kylef Thoughts? I simply put the swizzling in where the MockingjayProtocol is registered.

[2020-10-16 18:18] vinczebalazs commented on #32
Works for me (Swift 5.1).

[2021-02-17 09:07] vsnv commented on #79
@trick14 Hi! Did you find any solution? :)

[2021-05-17 00:44] ppamorim commented on #83
@saltzmanjoelh My version corrects the build for Cocoapods and includes your version with the SwiftPM support: https://github.com/ppamorim/Mockingjay

[2021-05-17 16:38] Adrimi commented on #32
Works as intended (Swift 5.4)

[2021-09-21 12:41] ppamorim opened #119 "Unable to use the library on Xcode 13.0 (Swift 5.5)"
Hi, we updated our Xcode to 13.0 and now the library does not work anymore. It causes this error:

![Screenshot 2021-09-21 at 13 39 22](https://user-images.githubusercontent.com/5521682/134172059-40945dc2-7df7-462d-9af0-ec4f9e8735b3.png)

It's something with the method swizzling.

[2021-09-23 20:12] #119 closed

[2021-10-04 11:52] #101 closed

[2021-10-04 12:04] kylef commented on #89
Both the matcher and builder are already callbacks, you are free to put whatever logic you want in those places. The "builder" is invoked when the stub is matched.

[code]

[2021-10-15 08:25] chbeer commented on #83
What is the status of this? Is there any progress in supporting SMP?

I like MockingJay very much and would love to keep using it...

[2021-10-15 17:46] saltzmanjoelh commented on #83
Although I do see some recent commits?

[2021-10-15 19:03] chbeer commented on #83
Maybe @ppamorim can issue a PR for SPM?

[2021-12-02 23:13] s-reshetnikov opened #121 "The latest 3.0.0-alpha.1 not compiled with Error Ambiguous use of 'tearDown'"
The error was fixed 2 months ago. Is it possible to create a new alpha build (3.0.0-alpha.2) and upload it to CocoaPods with the fix? @kylef